.home {
  background: linear-gradient(
    180deg,
    rgba(215, 199, 244, 0.2) 0%,
    rgba(151, 133, 186, 0.2) 100%
  );
  display: flex;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.chatSection {
  width: 20%;
  /* border-right: 1px solid #00000026; */

  background-color: white;
  width: 280px;
  /* box-shadow: 4px 0px 10px 0px #00000026; */
}

.mainHomeContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  justify-content: space-between;
}

.bot_h1 {
  color: #9785BA;
  font-weight: 700;
  font-size: 28px;
  text-align: left;
  margin-top: 0px;
  margin-left: 20px;
}

.question {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
  margin-bottom: 5px;
}

.botLogo {
    width: 65.29553985595703px;
height: 69px;
opacity: 1;
border-radius: 50%;
object-fit: cover;
box-shadow: -4px 4px 10px 0px #00000026;

}

.optionCard {
  width: 49%;
height: 111px;
opacity: 1;
border-radius: 5px;
background: #FFFFFF;
display: flex;
flex-direction: column;
align-items: flex-start;
box-shadow: -4px 4px 10px 0px #00000026;
}

.optionCard:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.optionCard h3 {

font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
margin-bottom: 0px;
margin-left: 15px;
color: #000000;

}

.optionCard p {
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
margin-left: 15px;
color: #00000080;

}

.groupOption {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.mainGroupOption {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
  width: 99%;
  margin-bottom: 50px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputBox {
  width: 85%;
height: 41px;
opacity: 1;
border-width: 1px;
border-radius: 5px;
background: #FFFFFF;
border: 1px solid #00000073;
/* margin-left: 5px; */
}

.btn {
background: #D7C7F4;
width: 7%;
height: 41px;
opacity: 1;
left: 1092.7px;
border-radius: 5px;
border: none;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: #000000;
}

.btn:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
    cursor: pointer;
}

.chatboxSection {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-right: 3px;
  margin-left: 5px;
}

.chatBoxComponenet {
  display: flex;
  justify-content: center;
  width: 99%;
}

.menuBtn {
  font-size: 24px;
  font-weight: bold;
  border: none;
  background: none;
  cursor: pointer;
  color: #9785BA;
  transition: 0.2s;
  width: 23px;
}

.menuBtn:hover {
  transform: scale(1.1);
}

.togglerBtn {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 5.5px;
}

.menuBtn {
  display: none;
}

.context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

@media screen and (max-width: 1020px) {
  .btn {
    font-size: 18px;
    width: 14%;
  }
  .chatboxSection {
    gap: 10px;
  }
  .inputBox {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {

  .home {
    background: linear-gradient(180deg, #F9FAFA 59%, #EDE4FF 100%);
  }

  .bot_h1 {
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .togglerBtn {
    align-items: flex-start;
  }

  .chatSection {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
  }

  .drawerOpen {
    transform: translateX(0);
  }

  .closeDrawerBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 26px;
    font-weight: bold;
    color: #9785BA;
    cursor: pointer;
  }

  .menuBtn {
    display: block;
    margin-top: 2.5px;
  }
  .groupOption {
    flex-direction: column;
    width: 80%;
  }
  .mainGroupOption {
    gap: 15px;
    align-items: center;
    display: none;
  }
  .mobileOptionView {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 90%;
  }

  .context {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
  }

  .optionCard {
    width: 88%;
    text-align: left;
    padding-left: 10px;
  }
  .mainContent {
    align-items: center;
    gap: 30px;
  }
  .question {
    margin-top: 0px;
    font-size: 26px;
  }
  .optionCard h3, p {
    width: 100%;
    margin-left: 0px;
  }
  .optionCard p {
    margin-left: 0px;
  }

  .chatboxSection {
    /* margin-left: 20px; */
    margin-right: 5px;
  }

}

